.heading 
{
  font-size: 25px;
  width: 100%;
  margin: 0px;
  box-shadow: 5px 5px 5px rgb(109, 108, 108);
}

.note
{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background: rgb(142, 141, 141);
    line-height: 2;
    text-align: center;
}

canvas
{
    border: 5px solid rgb(145, 198, 248);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(95, 94, 94);
}